@use "colors";

@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&display=swap");

body {
  font-family: "Gaegu", cursive;
}

:root {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: colors.$primaryBlue;
}

@mixin color-modifiers {
  @each $name, $hex in colors.$teamColors {
    &-#{$name} {
      color: $hex;
    }
  }
}

.text {
  @include color-modifiers();
}
